.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 20px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  .grid-item-text {
    font-size: 2rem;
    font-weight: bold;
    color: #ece1e1;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  