.navbar {
    background-color: #f9eede; /* Cream background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-menu li {
    margin: 0 10px;
  }
  
  .navbar-menu a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }
  